@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    height: 100%;
    overflow: hidden;
}

.landingContainer {
    overflow-y: hidden;
    height: 100%;
}

.headingContainer {
    height: 8vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8ECAE6;
}

.heading {
    align-items: center;
    width: 30%;
    background-color: #FFB703;
    font-size: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    font-family: 'Manrope', sans-serif;
}

.decisionWrapper {
    width: 100%;
    display: flex;
    font-size: 3vw;
    height: 50vw;
    align-items: center;
    justify-content: center;
}

.hireBtn {
    width: 50%;
    height: 100%;
    background-color: #FB8500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 6vw;
}

.hireBtn:hover {
    cursor: pointer;
}

.jobBtn {
    width: 50%;
    height: 100%;
    background-color: #219EBC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 6vw;
}

.jobBtn:hover {
    cursor: pointer;
}