@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

.flexProfile {
    margin-top: 2vw;
    display: flex;
    width: 100vw;
    flex: 1 2 auto;
}

.leftPanel {
    width: 35%;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profileInfo {
    padding: 2vw;
    width: 80%;
    background-color: #FFB703;
}

.profileInfo img {
    border-radius: 50%;
}

.profileInfo h3 {
    font-family: 'Inter', sans-serif;
}

.applicationWrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 65%;
}

.applicationWrapper h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

.createRole {
    margin-top: 6vw;
    padding: 2vw;
    background-color: #8ECAE6;
    width: 60%;
}

.createRole:hover {
    cursor: pointer;
}

.createRole img {
    width: 20%;
}

.roleWrapper {
    display: flex;
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 60%;
    justify-content: space-between;
    padding: 1vw;
}

.roleWrapper {
    cursor: pointer;
}