@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.flexProfile {
    margin-top: 2vw;
    display: flex;
    width: 100vw;
    flex: 1 2 auto;
}

.leftPanel {
    width: 35%;
    display: flex;
    justify-content: center;
}

.profileInfo {
    padding: 2vw;
    width: 80%;
    background-color: #FFB703;
}

.profileInfo img {

    border-radius: 50%;
}

.profileInfo h3 {
    font-family: 'Inter', sans-serif;
}

.applicationWrapper {
    width: 65%;
}